.root {
    -fx-focus-color: transparent;
}
.tree-cell {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #b3bab5;
}
.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: #acacac;
}

.tree-view {
    -fx-pref-width: 200px;
    -fx-start-margin: 0;
    -fx-border-color: #3c3f41;
    -fx-wrap-text: true;
    -fx-padding: 0;
}

#button-box {
    -fx-pref-width: 200px;
}
.buttons {
    -fx-pref-width: 200px;
    -fx-background-color: #3c3f41;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-style: none;
    -fx-text-alignment: left;
    -fx-text-fill: #acacac;
    -fx-background-radius: 0;
    -fx-alignment: baseline-left;
    -fx-label-padding: 10px 0 10px 20px;
    -fx-cursor: hand;
}

#icon-menu {
    -fx-pref-width: 600px;
    -fx-pref-height: 30px;
    -fx-background-color: #555c57;
    -fx-padding: 0 10px;
}

.icon-menu-button {
    -fx-pref-width: 30px;
    -fx-pref-height: 29px;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-size: stretch;
    -fx-background-color: #555c57;
}
#save-button {
    -fx-background-image: url("images/save.png");
}

#open-button {
    -fx-background-image: url("images/open.png");
}

.icon-menu-button:hover {
    -fx-opacity: .8;
}

.scroll-bar {
    -fx-background-color: #3c3f41;
}



.corner {
    -fx-background-color: #3c3f41;
}

.scroll-bar:vertical {
    -fx-pref-width: 10px;

}
.scroll-bar:horizontal {
    -fx-pref-height: 10px;
}



.scroll-bar > .track {
    visibility: hidden;
}
.scroll-bar > .thumb {
    -fx-opacity: 1;
    -fx-background-color: #555c57;
}

#program-view {
    -fx-background-image: url("images/background.png");
    -fx-background-repeat: repeat;
}
