.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-pane {
    -fx-background-color: #3c3f41;
}

.scene {
    -fx-focus-color: transparent;
    -fx-padding: 0;
    -fx-box-border: transparent;

}
.tree-cell {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #b3bab5;
}
.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: #acacac;
}

.tree-view {
    -fx-pref-width: 200px;
    -fx-start-margin: 0;
    -fx-border-color: #3c3f41;
    -fx-wrap-text: true;
    -fx-padding: 0;
}

#button-box {
    -fx-pref-width: 200px;
}
.buttons {
    -fx-pref-width: 200px;
    -fx-background-color: #3c3f41;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-style: none;
    -fx-text-alignment: left;
    -fx-text-fill: #acacac;
    -fx-background-radius: 0;
    -fx-alignment: baseline-left;
    -fx-label-padding: 10px 0 10px 20px;
    -fx-cursor: hand;
}

#icon-menu {
    -fx-pref-width: 600px;
    -fx-pref-height: 30px;
    -fx-background-color: #555c57;
    -fx-padding: 0 10px;
}

.icon-menu-button {
    -fx-pref-width: 30px;
    -fx-pref-height: 29px;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-size: 25px 25px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #555c57;
}
#save-button {
    -fx-background-image: url("file:images/save.png");
}

#open-button {
    -fx-background-image: url("file:images/open.png");
}

#run-button {
    -fx-background-image: url("file:images/run.png");
}

#save-as-button {
    -fx-background-image: url("file:images/saveAs.png");
}

#new-document-button {
    -fx-background-image: url("file:images/new.png");
}

.icon-menu-button:hover {
    -fx-opacity: .8;
}

.scroll-bar {
    -fx-background-color: #3c3f41;
    -fx-box-border: transparent;

    -fx-background-insets: 0, 0;
}

.target-no-block {
    -fx-fill: #1d2022;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 13, 0.6, 0, 0);
    -fx-opacity: .1;
}

.target-block {
    -fx-fill: #1d2022;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 13, 0.6, 0, 0);
    -fx-opacity: .5;

}


.corner {
    -fx-background-color: #3c3f41;
    -fx-background-insets: 0, 0;
}

.scroll-bar:vertical {
    -fx-pref-width: 12px;

}
.scroll-bar:horizontal {
    -fx-pref-height: 12px;
}



.scroll-bar > .track {
    visibility: hidden;
}
.scroll-bar > .thumb {
    -fx-opacity: 1;
    -fx-background-color: #555c57;
}

#program-view {
    -fx-background-image: url("file:images/background.png");
    -fx-background-repeat: repeat;
    -fx-padding: 0;
}

.context-menu {
    -fx-background-color: #2b2b2b;
    -fx-padding: 1;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5, 5;
}

.menu-item .label {
    -fx-text-fill: #b3bab5;
}

.menu-item:focused {
    -fx-background-color: #3c3f41;
}

.alert {
    -fx-fill: black;
}

.dialog-pane {
    -fx-background-color: red;
    -fx-padding: 0;
}

.line {
    -fx-stroke: #232323;
    -fx-stroke-width: 5px;
}

.if-case {
    -fx-background-image: url("file:images/If.png");
}

.delay-block {
    -fx-background-image: url("file:images/Delay.png");
}

.break-block {
    -fx-background-image: url("file:images/Break.png");
}

.statement-block {
    -fx-background-image: url("file:images/Statement.png");
}

.loop-end-block {
    -fx-background-image: url("file:images/Endloop.png");
}

.loop-block {
    -fx-background-image: url("file:images/Loop.png");
}

.if-end-block {
    -fx-background-image: url("file:images/Endif.png");
}

.block-image {
    -fx-background-size: stretch;
}